@using Melodee.Mql.Models
@using Melodee.Mql.Constants

<div class="mql-field-reference">
    <RadzenTabs>
        <Tabs>
            <RadzenTabsItem Text="Songs">
                <FieldTable EntityType="songs" />
            </RadzenTabsItem>
            <RadzenTabsItem Text="Albums">
                <FieldTable EntityType="albums" />
            </RadzenTabsItem>
            <RadzenTabsItem Text="Artists">
                <FieldTable EntityType="artists" />
            </RadzenTabsItem>
        </Tabs>
    </RadzenTabs>
</div>

<style>
    .mql-field-reference {
        padding: 1rem;
    }
</style>
