.cover-search-images-container {
  min-height: 300px;
  overflow: auto;
  border: 1px solid lightgray;
}

img.cover-search-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 3px;
}

.cover-search-image-container {
  margin: 2px;
  width: 85px;
  height: 130px;
  float: left;
  text-align: center;
  overflow: hidden;
}

.cover-search-image-title {
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover-search-image-dimensions {
    font-size: 0.6rem;
    color: gray;
}

.cover-search-image-container.selected {
  background-color: red;
  color: red;
}
